* {
    box-sizing: border-box;
}

body {
    background: #faf9f9;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    font-family: 'Didact Gothic', sans-serif;
}

.about, .contact {
    padding: 2em 3em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.about p, .projects p {
    text-align: left;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.orange {
    color: orange;
}

.bg-skew {
    background: linear-gradient(to bottom right, #13334c, #41a7b3);
    -webkit-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
    padding: 7em 0 6em;
    margin-top: -12em;
    margin-bottom: 4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    -webkit-transform: skew(0deg, 15deg);
    transform: skew(0deg, 15deg);
    padding-top: 8em;
    max-width: 75%;
    margin: 0 auto;
}

.intro p {
    text-align: left;
    font-size: 1.5em;
    color: #faf9f9;
    letter-spacing: .04em;
    font-family: 'Indie Flower',
    cursive;
    text-shadow: 2px 2px 4px black;
}

.spacing {
    letter-spacing: 0.05em;
    font-weight: bold;
}

.margin-left {
    margin-left: .3em;
}

.intro a {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: auto;
    color: #13334c;
    display: block;
    font-size: 1.2em;
    width: 65%;
    background-color: #faf9f9;
    padding: .7em .6em;
    border-radius: 40px;
    margin-top: 3em;
    box-shadow: 1px 2px 1px #98ccd3;
    transition: background-color .5s ease;
}

.intro a:hover, .intro a:focus {
    background-color: #41a7b3;
    color: white;
}

.projects {
    margin-top: 2em;
    padding-top: 1em;
    background: white;
}

.projects p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.projects a, .contact a {
    color: black;
}

.projects>div {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 2.5em 2em;
}

.stack, .screenshot {
    display: block;
    margin: auto;
}

.stack {
    max-width: 70%;
}

.screenshot {
    max-width: 85%;
}

.links-container {
    width: 100%;
    margin: 1em auto 0;
    text-align: center;
}

.links-container a {
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .01em;
}

.logo {
    max-width: 2.5em;
    margin: auto;
}

.contact {
    text-align: center;
    padding-bottom: 22em;
}

.space {
    margin-left: 1em;
}

.small {
    max-width: 40%;
}

@media (orientation: landscape) {
    .about, .projects, .contact {
        width: 80%;
        margin: auto;
        padding-top: 2.5em;
    }
    .bg-skew {
        margin-top: -15em;
        -webkit-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
        padding: 7em 0 5em;
    }
    .intro {
        -webkit-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
        margin-top: 3em;
    }
    .intro a {
        margin-top: 2.5em;
        width: 50%;
        font-size: 1.1em;
    }
    .stack {
        max-width: 60%;
    }
    .small {
        max-width: 40%;
    }
    .screenshot {
        max-width: 65%;
    }
}

@media (min-width: 700px) {
    .stack {
        max-width: 40%;
    }
    .small{
        max-width: 25%;
    }
    .screenshot {
        max-width: 55%;
    }

    .bg-skew{
        padding: 10em 0 10em;
    }

    .intro a {
        margin-top: 5em;
    }
}