header {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 55px;
    background: linear-gradient(to right, #13334c, #41a7b3);
}

.nav-container {
    margin: .5em 2em;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-around;
    padding: 0 1em;
}


.nav-container a {
    padding: 0 0.5em;
    text-decoration: none;
    cursor: pointer;
    color: #faf9f9;
}


.site-nav a:hover,
.site-nav a:focus {
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0;
    border-bottom: 2px solid #faf9f9;
}

.nav-toggle-button{
    margin-left: auto;
}

.toggle-button {
    height: 20px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.toggle-button:focus,
.toggle-button:hover {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 2px;
    margin-right: 1em;
    background-color: #faf9f9;
}

.nav-container .open {
    display: flex;
    flex-direction: column;
}

.site-nav{
    position: absolute;
    top: 3.5em;
    right: 0em;
    background-color: black;
    color: #faf9f9;
}

.site-nav a{
    padding: 1.5em 2.5em;
    font-size: 1.2em;
    font-family: 'Oswald',
    sans-serif;
}



@media(max-width: 700px) {
    .site-nav {
        display: none;
    }
}

@media (orientation: landscape) {
    .nav-container {
        justify-content: space-between;
    }

    .site-nav a {
        padding: 1.3em 2.5em;
    }
}

@media (min-width: 701px) {
    .nav-toggle-button {
        display: none;
    }

    header {
        height: 60px;
    }

    .nav-container {
        height: 55px;
        margin: .5em 0em;
        display: block;
        text-align: right;
    }

    header .logo {
        margin-right: .5em;
        width: 14em;
    }

    .site-nav{
        position: static; 
        background-color: transparent;
        margin-top: 1em;
    }

    .site-nav a{
        padding: 0 1em;
    }

}



